{% extends 'body.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col s6">
            <h3>Cadastro</h3>
                <div class="row">
                    <div class="input-field col s10">
                        <input id="nome" type="text" class="validate">
                        <label for="nome">Nome</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <input id="email" type="email" class="validate">
                        <label for="email">E-mail</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <input id="celular" type="tel" class="validate">
                        <label for="celular">Celular</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <a class="btn btn-block waves-effect waves-light btn_psq">Limpar</a>
                    </div>
                    <div class="col s6">
                        <a class="btn btn-block waves-effect waves-light btn_psq">Cadastrar</a>
                    </div>
                </div>
        </div>
        <div class="col s6">
            <div class="row">
                <div class="col s12">
                    <h3>Pesquisa</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <label>Parâmetro de pesquisa</label>
                    <select class="browser-default">
                      <option value="" disabled selected>Escolha uma opção</option>
                      <option value="1">Nome</option>
                      <option value="2">E-mail</option>
                      <option value="3">Celular</option>
                    </select>
                </div>
                <div class="col s6">
                    <div class="input-field col s12">
                        <input id="pesquisar" type="text" class="validate">
                        <label for="pesquisar">Valor</label>
                      </div>                      
                </div>
            <div class="row">
                <div class="col s12">
                    <a class="btn btn-block waves-effect waves-light btn_psq">Pesquisar</a>
                </div>
            </div>
            <div class="row">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Celular</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ricardo Wagner</td>
                            <td>ricwagner1@gmail.com</td>
                            <td>+5521983826580</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}